body {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;
  font-family: "Cinzel", serif;
  font-size: 15px;
  
}

.background{
  background-size: cover;
  
}

/* Aca comienza la barra de navegacion */
#nav {
  background-color: rgb(178, 46, 46, 0.8);
  border-radius: 10px;
  color: white;
  /* text-shadow: blue 1px 1px 2px; */
  text-shadow: blue 1px 1px 2px;
  padding: 10px 0;
  text-align: center;
}

#nav li {
  display: inline-block;
  width: 24%;
  border: solid 1px white;
  border-radius: 9px;
  padding: 3px;
}

#nav a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
}

#nav a:hover {
  background-color: rgb(101, 101, 99);
}

#nav a:active {
  background-color: rgb(202, 52, 75);
}
/* Aca termina la barra de navegacion */

h1 {
  text-align: center;
  color: white;
  text-shadow: blue 1px 1px 2px;
  background-color: rgb(178, 46, 46, 0.8);
  border-radius: 10px;
  height: 50px;
  width: 100%;
  padding-top: 1px;
  margin-top: 1px;
  color: white;
}



.contenedor {
	max-width: 1200px;
	width: 90%;
	margin: auto;
}

/* --- --- CAROUSEL --- --- */
.carousel__contenedor {
	position: relative;
}


.carousel__anterior,
.carousel__siguiente {
	position: absolute;
	display: block;
	width: 80px;
	height: 80px;
	border: none;
	top: calc(5% + 185px);
	cursor: pointer;
	line-height: 260px;
	text-align: bottom;
	background: none;
	color: black;
	opacity: 100%;
}

.carousel__anterior:hover,
.carousel__siguiente:hover {
	opacity: 50%;
}

.carousel__anterior {
	left: -30px;

;
}

.carousel__siguiente {
	right: -30px;
}

.carousel__lista {
	overflow: hidden;
  background-color: black;
}
.carousel__lista p {

  color: white;
}
.carousel__elemento {
	text-align: center;
}


.carousel__indicadores .glider-dot {
	display: block;
	width: 30px;
	height: 4px;
	background: #000;
	opacity: .2;
	border-radius: 0;
}

.carousel__indicadores .glider-dot:hover {
	opacity: .5;
}

.carousel__indicadores .glider-dot.active {
	opacity: 1;
}

@media screen and (max-width: 800px) {
	body {
		padding: 40px 0;
	}

	.contenido-principal {
		flex-direction: column;
	}

	.contenido-principal > * {
		width: 100%;
	}
}

/* Incicio grid de noticias */
.containerB{
	width: 90%;
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(auto-fit,minmax(20rem,1fr));
	grid-gap: 1px;
  grid-gap: 51rem solid rgba(780, 0, 0,0.8);
  background:#bdbdbe
  

}
.col1 {
  background-color: transparent;
  border:0.1rem ridge rgba(167, 164, 164, 0.8);
  padding:0.1rem;
  font-size: 20px;
  font-family: serif;
  color: black;
  text-align: left;
  display: flex;
	justify-content: center;
	flex-direction: column;
  
  padding: 1rem 1rem;
}
.col1 img{ 
	width: 85%;	
	height: 85%;
}

.col1 p{
	text-align: left;
	margin: auto;
  
}

.col2 {
  background-color: transparent;
  border:0.1rem ridge rgba(167, 164, 164, 0.8);
  padding:0.1rem;
  font-size: 20px;
  font-family: serif;
  color: black;
  text-align: left;
  padding: 1rem 1rem;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.col2 img { 
	height: 65%;
	
}


.col2 p{
	text-align: left;
	margin: auto;
  
}
/* Fin de grid de noticias */

/* Aqui comienza el footer */
footer {
  
  background-color: #111;
  margin: 5%;
  padding: 2%;
}
footer-content {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: #111;
  height: auto;
  width: 100vw;
  padding-top: 40px;
  color: #fff;
}
.socials {
  list-style-type: none;
  display: flex;
  align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
h4 {
  text-align: center;
  color: white;
  font-size: 2em;
}
h5{
  text-align: center;
  color: white;
  font-size: 1em; 
  margin-left: 1rem;
}
.footer-content p {
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
  color: #cacdd2;
}
.socials a {
  text-decoration: none;
  color: #fff;
  border: 1.1px solid white;
  padding: 5px;
  border-radius: 50%;
  display: inline-flexbox;
}
.socials li{
  margin: 0 10px;
}
.socials a i {
  font-size: 1.1rem;
  width: 20px;
  transition: color 0.4s ease;
  text-align: center;
}
.socials a:hover i {
  color: aqua;
}
hr {
  width: 90%;
}

.footer-bottom {
  background: #000;
  padding: 20px;
  padding-bottom: 40px;
  text-align: center;
}
.copyright {
  float: left;
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
  color: #dfe8ec;
}


/* Aqui termina el footer */