body {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;
  font-family: "Cinzel", serif;
  font-size: 15px;
}
.background{
  background-size: cover;
}

/* Aca comienza la barra de navegacion */
#nav {
  background-color: rgb(178, 46, 46, 0.8);
  border-radius: 10px;
  color: white;
  text-shadow: blue 1px 1px 2px;
  padding: 10px 0;
  text-align: center;
}

#nav li {
  display: inline-block;
  width: 24%;
  border: solid 1px white;
  border-radius: 9px;
  padding: 3px;
}

#nav a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
}

#nav a:hover {
  background-color: rgb(101, 101, 99);
}

#nav a:active {
  background-color: rgb(202, 52, 75);
}
/* Aca termina la barra de navegacion */

/* Aca comienza card */

.card-list{
  display: inline-block;
}
.thumbnail-img{
  width: 30%;
  margin-bottom: 0.26rem;
  margin-right: 2rem;
  float: left;
  height: 260px;
  width: 180px;  
}

.thumbnail-img:hover{
    transform : scale(1.2);
    -moz-transform : scale(1.2);
    -webkit-transform : scale(1.2);    
  }

.meta{
  text-align: left;
  /* margin-left: 20px; */
  padding: 0 30px 0 10px;

}
.synopsis{
  text-align: justify;  
  font-size: 15px;
   
  
}

.content-txt{
  display: block;
}






/* Aca termina card */

.container{
  font-family: "Cinzel", serif;
  padding: 30px;
  width: 90%;
  min-height: 350px;
  display: block;
  text-align: center;
  background: rgb(227, 224, 224);

}

.criticaCine, .dejarCritica, .evaluacion{
  color: rgb(9, 9, 9);  
  font-size: 15px;
  text-align: justify;  
  margin-right: 25px;
}

h1 {
  text-align: center;
  color: white;
  text-shadow: blue 1px 1px 2px;
  background-color: rgb(178, 46, 46, 0.8);
  border-radius: 10px;
  height: 50px;
  width: 100%;
  padding-top: 10px;
  margin: auto;
}

h3{
  color: rgb(9, 9, 9);  
  font-size: 25px;  
  text-align: left;
  margin-left: 25px;

}

/* Aqui comienza formulario */

.contacto {
  background-color: rgb(235, 233, 233);
  padding: 30px;
  width: 90%;
  min-height: 350px;
  display: block;
  text-align: left;
  font-size: 14px; 
  color: black;
  font-family: "Cinzel", serif;
  

}

.etiqueta {
  padding-top: 25px;
}

fieldset{
  text-align: center;
  
}

legend{
  text-align: left;
  
}

textarea{  
  resize: horizontal;
  margin-right: auto;
}


/* Aqui termina formulario */

/* Aqui comienza el footer */
footer {
  background-color: #111;
  padding: 2%;
}
footer-content {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: #111;
  height: auto;
  width: 100vw;
  padding-top: 40px;
  color: #fff;
}
.socials {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
}
h4 {
  text-align: center;
  color: white;
  font-size: 2em;
}
h5{
  text-align: center;
  color: white;
  font-size: 1em; 
}
.footer-content p {
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
  color: #cacdd2;
}
.socials a {
  text-decoration: none;
  color: #fff;
  border: 1.1px solid white;
  padding: 5px;
  border-radius: 50%;
  display: inline-flexbox;
}
.socials li{
  margin: 0 10px;
}
.socials a i {
  font-size: 1.1rem;
  width: 20px;
  transition: color 0.4s ease;
  text-align: center;
}
.socials a:hover i {
  color: aqua;
}
hr {
  width: 90%;
}

.footer-bottom {
  background: #000;
  padding: 20px;
  padding-bottom: 40px;
  text-align: center;
}
.copyright {
  float: left;
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
  color: #dfe8ec;
}

/* Aqui termina el footer */

