body {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;
}
#nav {
  background-color: rgb(178, 46, 46, 0.5);
  color: rgb(255, 235, 205);
  padding: 10px 0;
  text-align: center;
}

#nav li {
  display: inline-block;
  width: 24%;
  border: solid 1px rgb(255, 255, 255);
  border-radius: 9px;
  padding: 3px;
}

#nav a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-transform: uppercase;
}
#nav a:hover {
  background-color: rgb(101, 101, 99);
}

#nav a:active {
  background-color: rgb(202, 52, 75);
}

h1 {
  text-align: center;
  color: rgb(255, 255, 255);
}
